<form id="account">
    <input id="username" required placeholder="username"><br>
    <input placeholder="password" id="password" required><br>
    <input placeholder="confirm password" id="confirmPassword" required><br>
    <button>Create Account</button><br>
</form>


<script>
    document.getElementById("account").addEventListener("submit", async function(event){
        event.preventDefault();

        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var username = document.getElementById("username").value;

        if (password != confirmPassword) {
            alert("password don't match");
        } else {
            var response = await fetch('/api/booksAPI/createAccount', {
                method : "POST",
                headers: {"Content-Type" : "application/json"},
                body: JSON.stringify({username: username, password: password})
            })
            if (response.ok) {
                window.location.href = '/';
            } else {
                alert("USERNAME ALREADY EXISTS");
            }
        }
    });
</script>
