<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form id="loginForm">
    <input id="username" required placeholder="username"><br>
    <input placeholder="password" id="password" required><br>
    <button>Login</button><br>
    
</form>
<form id="createAccountForm">
    <button>Create Account</button>
</form>

<script>
    document.getElementById("createAccountForm").addEventListener("submit", function(event) {
        event.preventDefault();
        window.location.href = "/createAccount";
    });
</script>

<script>
    document.getElementById("loginForm").addEventListener("submit", () => {
        event.preventDefault();
        let username1 = document.getElementById("username").value;
        let password1 = document.getElementById("password").value;

        console.log(username1);
        console.log(password1);
        

        //Fetch login data from database
        fetch('http://localhost:3000/api/booksAPI', {
            method : "POST",
            headers: {"Content-Type" : "application/json"},
            body: JSON.stringify({ username1, password1})    
        })
        .then(response => response.json())
        .then(result => {
            let data = JSON.stringify(result)
            console.log(data);
            console.log(JSON.stringify(result[0].username));
            window.location.href = `/books?userData=${encodeURIComponent(result[0].username)}`;
        })
        .catch(error => console.error("Error:", error));
        });
/*
        let data = await response.json();
        console.log(data);
        
        //Render book page for account specified
        if (data[0].username == username1 && data[0].password == password1) {
            console.log("THis works!");
            let r = await fetch('http://localhost:3000/books/data', {
                method : "POST",
                headers: {
                    "Content-Type" : "application/json"
                },
                //body: JSON.stringify({ username1, password1})
                body: data
            });
            //window.location.href = "/index";
            //console.log("index checked");
            //window.location.href = "/createAccount";
        } else {
            console.log("DOes not work :(");
        }
        this.reset();
    }); */
</script>