<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form id="loginForm">
    <input id="username" required placeholder="username"><br>
    <input placeholder="password" id="password" required><br>
    <button>Login</button> 
    <p id="errorMessage" style="color: red; display: none;"></p>
    
</form>
<form id="createAccountForm">
    <button>Create Account</button>
</form>

<script>
    document.getElementById("createAccountForm").addEventListener("submit", function(event) {
        event.preventDefault();
        window.location.href = "/createAccount";
    });
</script>

<script>
    document.getElementById("loginForm").addEventListener("submit", async (event) => {
        event.preventDefault();
        let username1 = document.getElementById("username").value;
        let password1 = document.getElementById("password").value;

        console.log(username1);
        console.log(password1);
        

        //Fetch login data from database
        var response = await fetch('http://localhost:3000/books', {
            method : "POST",
            headers: {"Content-Type" : "application/json"},
            body: JSON.stringify({ username: username1, password: password1})    
        });
        console.log(response);
        if (response.ok) {
            console.log("IF BRANCH");
            let data = await response.text();
            event.target.reset();
            document.body.innerHTML = data;
        } else {
            document.getElementById('errorMessage').innerHTML = "User not found";
            document.getElementById('errorMessage').style.display = 'inline-block';
            setTimeout(() => {
                document.getElementById('errorMessage').innerHTML = "";
            }, 5000);
            event.target.reset();
        }
        
        });
</script>