<!DOCTYPE html>
<html>
  <head>
    <title>Book Library and Notes</title>
    {{#if cssSheet}}
      <link rel='stylesheet' href= '{{ cssSheet }}'/>
    {{else}}
      <link rel='stylesheet' href= '/stylesheets/style.css'/>
    {{/if}}
    <link rel='icon' href='/images/favicon.ico' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
